*.o
*~
*.cf
*.s
*.bit
*_out.config
microwatt.json
microwatt.svf
*_tb
main_ram.bin
tests/*/*.bin
tests/*/*.hex
tests/*/*.elf
TAGS
litedram/build/*
liteeth/build/*
litesdcard/build/*
obj_dir/*
/scripts/mw_debug/urjtag
/scripts/mw_debug/mw_debug
git.vhdl
vunit_out/
